In [1]:
from funcoes_aq import get_data, format_phone_number

In [2]:
import pandas as pd
import requests
import json
import csv
import re
import warnings

In [10]:
API_URL = 'https://randomuser.me/api/?results=5000'
get_data(API_URL)
df.shape

(5000, 34)

In [11]:
df = pd.read_csv('dados_api.csv', sep=';')
df.head()

,gender,email,phone,cell,nat,name;title,name;first,name;last,location;street;number,location;street;name,...,login;sha256,dob;date,dob;age,registered;date,registered;age,id;name,id;value,picture;large,picture;medium,picture;thumbnail
0,male,nicholas.arnold@example.com,051-130-8492,081-343-6064,IE,Mr,Nicholas,Arnold,9478,The Green,...,c7d25aebc62a9925368e15a919695a4b84af4d8fe6a87f...,1961-03-19T13:30:16.655Z,61,2020-12-19T05:38:42.414Z,1,PPS,3583607T,https://randomuser.me/api/portraits/men/66.jpg,https://randomuser.me/api/portraits/med/men/66...,https://randomuser.me/api/portraits/thumb/men/...
1,male,valentin.velasco@example.com,942-497-742,675-095-152,ES,Mr,Valentín,Velasco,4213,Calle de Bravo Murillo,...,0c97649e5958a5f3b4e823e75faefb4f50efdf8df048d2...,1987-11-10T06:22:53.755Z,34,2014-06-25T07:58:31.267Z,8,DNI,45311090-G,https://randomuser.me/api/portraits/men/58.jpg,https://randomuser.me/api/portraits/med/men/58...,https://randomuser.me/api/portraits/thumb/men/...
2,male,vuk.lapcevic@example.com,033-4690-313,069-5790-797,RS,Mr,Vuk,Lapčević,5218,Učitelja Vlade Ilića,...,9d0d4e894b858a804e31006872d22e1cbb84a846725aa1...,1970-09-17T13:19:30.540Z,52,2003-07-20T05:48:39.610Z,19,SID,313657065,https://randomuser.me/api/portraits/men/43.jpg,https://randomuser.me/api/portraits/med/men/43...,https://randomuser.me/api/portraits/thumb/men/...
3,male,ray.mitchelle@example.com,(781) 866-9151,(437) 896-2074,US,Mr,Ray,Mitchelle,5582,Elgin St,...,bb7d68c7b054866d9ab3eec6ded3b8c228d730e6f88a4f...,1976-02-29T14:17:37.623Z,46,2021-12-22T09:50:58.813Z,0,SSN,741-77-1571,https://randomuser.me/api/portraits/men/22.jpg,https://randomuser.me/api/portraits/med/men/22...,https://randomuser.me/api/portraits/thumb/men/...
4,female,agapiya.gordasevich@example.com,(068) F31-3638,(096) U70-2367,UA,Miss,Agapiya,Gordasevich,3607,Tiraspolska,...,6d8f57dde0364fb24cb0c84fd7d1139709f8f65e8f41c4...,1947-08-07T20:45:53.331Z,75,2015-04-18T03:51:04.725Z,7,NaN,NaN,https://randomuser.me/api/portraits/women/86.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...

In [12]:
format_phone_number(df, 'phone')
format_phone_number(df, 'cell')

,gender,email,phone,cell,nat,name;title,name;first,name;last,location;street;number,location;street;name,...,login;sha256,dob;date,dob;age,registered;date,registered;age,id;name,id;value,picture;large,picture;medium,picture;thumbnail
0,male,nicholas.arnold@example.com,05 11308492,08 13436064,IE,Mr,Nicholas,Arnold,9478,The Green,...,c7d25aebc62a9925368e15a919695a4b84af4d8fe6a87f...,1961-03-19T13:30:16.655Z,61,2020-12-19T05:38:42.414Z,1,PPS,3583607T,https://randomuser.me/api/portraits/men/66.jpg,https://randomuser.me/api/portraits/med/men/66...,https://randomuser.me/api/portraits/thumb/men/...
1,male,valentin.velasco@example.com,94 2497742,67 5095152,ES,Mr,Valentín,Velasco,4213,Calle de Bravo Murillo,...,0c97649e5958a5f3b4e823e75faefb4f50efdf8df048d2...,1987-11-10T06:22:53.755Z,34,2014-06-25T07:58:31.267Z,8,DNI,45311090-G,https://randomuser.me/api/portraits/men/58.jpg,https://randomuser.me/api/portraits/med/men/58...,https://randomuser.me/api/portraits/thumb/men/...
2,male,vuk.lapcevic@example.com,03 34690313,06 95790797,RS,Mr,Vuk,Lapčević,5218,Učitelja Vlade Ilića,...,9d0d4e894b858a804e31006872d22e1cbb84a846725aa1...,1970-09-17T13:19:30.540Z,52,2003-07-20T05:48:39.610Z,19,SID,313657065,https://randomuser.me/api/portraits/men/43.jpg,https://randomuser.me/api/portraits/med/men/43...,https://randomuser.me/api/portraits/thumb/men/...
3,male,ray.mitchelle@example.com,78 18669151,43 78962074,US,Mr,Ray,Mitchelle,5582,Elgin St,...,bb7d68c7b054866d9ab3eec6ded3b8c228d730e6f88a4f...,1976-02-29T14:17:37.623Z,46,2021-12-22T09:50:58.813Z,0,SSN,741-77-1571,https://randomuser.me/api/portraits/men/22.jpg,https://randomuser.me/api/portraits/med/men/22...,https://randomuser.me/api/portraits/thumb/men/...
4,female,agapiya.gordasevich@example.com,06 8313638,09 6702367,UA,Miss,Agapiya,Gordasevich,3607,Tiraspolska,...,6d8f57dde0364fb24cb0c84fd7d1139709f8f65e8f41c4...,1947-08-07T20:45:53.331Z,75,2015-04-18T03:51:04.725Z,7,NaN,NaN,https://randomuser.me/api/portraits/women/86.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...

In [15]:
# total de usuarios por genero
df_gender = df.gender.value_counts().rename_axis('Gênero').to_frame('Quantidade').reset_index()

# porcentagem de generos
df_gender["%"] = round(df_gender.Quantidade / df_gender.Quantidade.sum() * 100, 0 ) 

df_gender

   Gênero  Quantidade     %
0  female        2512  50.0
1    male        2488  50.0

In [18]:
df_location = df.nat.value_counts().rename_axis('Localização').to_frame('Quantidade').reset_index()

# porcentagem de localização
df_location["%"] = round(df_location.Quantidade / df_location.Quantidade.sum() * 100, 0 )

df_location

   Localização  Quantidade    %
0           BR         278  6.0
1           NO         264  5.0
2           IN         262  5.0
3           UA         260  5.0
4           NL         253  5.0
5           TR         250  5.0
6           FI         247  5.0
7           FR         244  5.0
8           RS         240  5.0
9           IE         237  5.0
10          US         237  5.0
11          GB         236  5.0
12          MX         232  5.0
13          CH         229  5.0
14          CA         227  5.0
15          IR         226  5.0
16          NZ         225  4.0
17          DE         223  4.0
18          ES         219  4.0
19          DK         212  4.0
20          AU         199  4.0